// 1. Your custom variables and variable overwrites.
//$global-link-color: #da4c59;
$global-primary-background: #1e87f0 !default;
$global-secondary-background: #24b662 !default;
$global-danger-background: #c9302c !default;

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #ffff00; }

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";

body {
  min-height: 100%;
  overflow-y: scroll;
}

.ss-section-first {
  background: url(/img/background.svg) 50% 10% no-repeat, linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat
}

.ss-section-second {
  background: #3dc0f1;
  color: #fff !important;
}

.ss-section-footer {
  background: #222 !important;
}

.ss-preview-icon {
  margin-bottom: -20px;
}

.ss-button-primary {
  border-radius: 500px;
  background: #fff !important;
  color: #1e87f0 !important;

  &:hover {
    box-shadow: 0 10px 40px #1e87f0
  }
}