// 1. Your custom variables and variable overwrites.
//$global-link-color: #da4c59;
$global-primary-background : #005ca1 !default;
$global-secondary-background : #24b662 !default;
$global-danger-background : #c9302c !default;

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #ffff00; }

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";

body {
  min-height: 100%;
  overflow-y: scroll;
}