.ss-drop-profile {
  border-radius: 6px;
  width: 150px;
  padding: 10px;

  li:not(:last-child) {
    border-bottom: 1px dashed #2799b6;
  }

  a {
    text-transform: uppercase;
    padding: 10px 0 !important;
    color: #2799b6 !important;
    &:hover, &:focus {
      color: darken(#2799b6, 10%) !important;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100px;
    width: 10px;
    height: 10px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #fff;
    transform-origin: center;
    transform: translateY(-50%) rotate(135deg);
    background: #fff;
    margin-top: 1px;
  }
}

.ss-profile-name {
  padding-left: 10px;
}